body {
  font-family: "PT Sans", sans-serif;
}

h1,
h2,
h3,
p {
  text-align: center;
  font-weight: 500;
  color: black;
}

p {
  font-size: 18px;
}
input[type="search"] {
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  height: 50px;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

button[type="submit"],
#current-location-button {
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  height: 50px;
  border: none;
  background-color: #b6bdee;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: #a2a8d3;
}
#current-location-button:hover {
  background-color: #a2a8d3;
}

#date {
  margin-bottom: 0;
}

.github-link {
  text-decoration: none;
}

.card-body {
  background: linear-gradient(
    109.6deg,
    rgb(177, 173, 219) 11.2%,
    rgb(245, 226, 226) 91.1%
  );

  border-radius: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.night,
.nightt {
  background: linear-gradient(-225deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
}

.descripton {
  text-align: center;
  font-size: 18px;
}

.details {
  font-weight: bold;
  font-size: 18px;
}

.details-header {
  font-size: 18px;
}
.details-list {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-weight: 500;
}

.details-data {
  font-weight: 100;
  font-size: 18px;
}

.today-header {
  font-size: 50px;
}

.temperature {
  font-size: 50px;
}

.temperature-units {
  position: relative;
  top: -22px;
  font-size: 20px;
}

#fahrenheit-link,
#celsius-link {
  text-decoration: none;
  color: #202124;
}

.active {
  color: #202124;
  cursor: default;
}
.active:hover {
  color: #202124;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  margin-top: 10px;
}

.weather-forecast-temperature {
  font-size: 13px;
  margin-bottom: 10px;
}

.weather-forecast-temperature-max {
  color: #202124;
}

.weather-forecast-temperature-min {
  color: #70757a;
}

.days {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.container .text-center {
  font-size: 18px;
  border: solid 1px #dbd8e3;
  border-radius: 10px;
}

.text-right {
  text-align: right;
}

footer {
  font-family: "PT Mono", monospace;
  color: #5c5470;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

#icon {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
